body {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    background-color: black;
    color:white;
    padding-bottom: 250px;

}
.navbar-brand {
    position: relative;
    bottom: 23px;
    
}
.btnSearch {
    background-color: transparent;
    color:white;
    border: none;
}
.navbar-search {
    width:25%;

}

.btnSearch:hover {
    color:grey;
    text-decoration: underline;

}
.navbar {
    position: absolute;
    z-index: 10;
    font-size: 14px; 
    width: 100%; 
    font-weight: bold;
}

.nav-link {
    color:white;
    margin: 0 20px;
}
@media (max-width: 768px) {
    .desc {
        font-size: 10vw;
        letter-spacing: 3px;
    }
    .navbar-brand {
    margin: 0 auto;
    display: block;
}
   .navbar-search {
        display: flex !important;
        padding-left: 70px;
        width: 100%;
        text-align: center;
        padding-left: 100px;
        width:auto;
    }
    /* Make collapsed navbar items stack vertically */
    .navbar-collapse {
        flex-direction: column !important;
        text-align: center;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav .nav-item {
        margin: 10px 0;
    }
    .tablek {
    border-collapse: collapse;
    }
    .section3 {
    padding-top:20px;
    height: auto;
    font-size: 14px;
}
}
