body {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    background-color: black;
    color:white;
    padding-bottom: 250px;

}

/* Carousel full screen */
#myCarousel,
#myCarousel .carousel-inner,
#myCarousel .item {
    height: 100vh;
}

/* Images fill screen properly */
#myCarousel .item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* Remove container padding */
.container-fluid {
    padding: 0;
}

/* TEXT OVER IMAGE */
.desc {
    padding-top: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    color: white;
    font-size: 6vw;
    font-weight: bold;
    letter-spacing: 6px;
    text-transform: uppercase;
    
}
.carousel-indicators {
 position: absolute;
    align-content: center;
    left: 5%;

}

.btn1 {
    padding-top: 75px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 14px;
}
.btn1:hover {
    color:grey;
}

.card-img-overlay {
  position: absolute;
  flex-direction: column;
  align-items: center;       
  top: 60%;
}


.cards {
  margin-top:-10px;
  background-color: black;
  text-align: center;
  align-items: center;  
}
.card-title {
    font-weight: bold;
    color:black;
    font-size: 25px;
    padding-left: 8px;
    
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(1px); 
    
}

.cards .btn {
    font-size: 11px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 10px;
    backdrop-filter: blur(1px); 
    background-color: rgba(255, 255, 255, 0.1);
    color:black ;

}
.cards .btn:hover {
    color:darkgray;
    font-weight: bold;
    
}

.section3 {
    position: relative;
    height: 60vh;
    width: 100%;
    background-color: black;
    font-size: 25px;
    display: flex;
    justify-content: center; 
    align-items: center;   
    
}


.tablek {
    border: none;
    width: auto;   
    height: auto;
    color: white;  
    text-align: center;
    border-collapse: separate;
    border-spacing: 15vh 1vh;
}
.tablek .btn {
    color:wheat;
}
.tablek .btn:hover {
    color:white;
}

.col-md-6{
  margin-top: 20px;
  border:none;
}
.navbar-brand {
    position: relative;
    bottom: 23px;
    
}
.btnSearch {
    background-color: transparent;
    color:white;
    border: none;
}
.navbar-search {
    width:25%;
    padding-right: 60px;

}

.btnSearch:hover {
    color:grey;
    text-decoration: underline;

}
.navbar {
    position: absolute;
    z-index: 10;
    font-size: 14px; 
    width: 100%; 
    font-weight: bold;
    
}

.nav-link {
    color:white;
    margin: 0 20px;
}

.titleStory {
    position: absolute;   
    left: 20px;
    top:20px;         
    z-index: 10;
    color: white;
    font-size: 25px;
    border: solid white 1px;
    font-weight: bold;    
    max-width: 90%;
}
.storyPara {
    bottom: 10px;
    position: absolute;      
    left: 20px;
    top:60px;         
    z-index: 10;
    color: white;
    font-size: 18px;
    max-width: 90%;
}
/* Mobile text size */
@media (max-width: 768px) {
    .desc {
        font-size: 10vw;
        letter-spacing: 3px;
    }
    .navbar-brand {
    margin: 0 auto;
    display: block;
    left:10px;
}
   .navbar-search {
        display: flex !important;
        padding-left: 70px;
        width: 100%;
        text-align: center;
        padding-left: 100px;
        width:auto;
    }
    /* Make collapsed navbar items stack vertically */
    .navbar-collapse {
        flex-direction: column !important;
        text-align: center;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav .nav-item {
        margin: 10px 0;
    }
    .tablek {
    border-collapse: collapse;
    }
    .section3 {
    padding-top:20px;
    height: auto;
    font-size: 14px;
}
.titleStory {
    position: absolute;   
    left: 20px;
    top:20px;         
    z-index: 10;
    color: white;
    font-size: 15px;
    border: solid white 2px;
    font-weight: bold;    
    max-width: 90%;
}
.storyPara {
    bottom: 10px;
    position: absolute;      
    left: 20px;    
    top:70px;    
    z-index: 10;
    color: white;
    font-size: 14px;
    max-width: 90%;
}
    .tablek th,
.tablek td {
    padding: 15px;
    color: white;
    text-align: center;
}

    
}
