html, body {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
}

/* Carousel full screen */
#myCarousel,
#myCarousel .carousel-inner,
#myCarousel .item {
    height: 100vh;
}

/* Images fill screen properly */
#myCarousel .item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* Remove container padding */
.container-fluid {
    padding: 0;
}

/* TEXT OVER IMAGE */
.desc {
    padding-top: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    color: white;
    font-size: 6vw;
    font-weight: bold;
    letter-spacing: 6px;
    text-transform: uppercase;
    
}
.carousel-indicators {
 position: absolute;
    align-content: center;
    left: 5%;

}

.btn1 {
    padding-top: 75px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 14px;
}
.cards {
  margin-top:-10px;
  background-color: black;
}
.col-md-6{
  margin-top: 20px;
  border:none;
}
.navbar-brand {
    position: relative;
    bottom: 23px;
    
}
.btnSearch {
        background-color: transparent;
        color:white;
        border: none;
    }

.btnSearch:hover {
    color:grey;
    text-decoration: underline;

}
.navbar {
    position: absolute;
    z-index: 10;
    font-size: 14px; 
    width: 100%; 
    font-weight: bold;
}

.nav-link {
    color:white;
    margin: 0 20px;
}

/* Mobile text size */
@media (max-width: 1200px) {
    .desc {
        font-size: 10vw;
        letter-spacing: 3px;
    }
    .navbar-brand {
    margin: 0 auto;
    display: block;
}
   .navbar-search {
        display: flex !important;
        padding-left: 70px;
        width: 70%;
        text-align: center;
        padding-left: 250px;
    }
    /* Make collapsed navbar items stack vertically */
    .navbar-collapse {
        flex-direction: column !important;
        text-align: center;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar-nav .nav-item {
        margin: 10px 0;
    }
    
}
.card {
    background-color: black;
    text-align: center;
}

.card-title {
    color:black;
}